html {
  font-size: 16px;
}

body {
  font-size: 18px;
  font-family: "Vibur", cursive;
  background-color: #010a01;
  background-image: url("/static/img/wall.jpg");
}

h1, h2, p, label, button {
  text-transform: uppercase;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

label {
  font-size: 1rem;
}

.flex-container {
  display: flex;
  align-items: flex-start;
}

.toggle {
  width: 20px;
  height: 20px;
  padding: 4px;
  text-align: center;
  background: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: auto 10px;
  border: 1px solid #1e84f2;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
}

.toggle:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
  box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}

.toggle:checked {
  -webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
  box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}

.toggle:after {
  content: '';
  text-shadow: 0 -1px 0 #bfbfbf;
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  margin: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius:100%;
  border-radius: 100%;
}

.toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);
  box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);
  background: #1e84f2; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #1e84f2 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #1e84f2 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #1e84f2 0%,#53cbf1 40%,#05abe0 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #1e84f2 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #1e84f2 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e84f2', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*-- Sign Styles --*/

.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign span {
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  -webkit-animation: neon 0.08s ease-in-out infinite alternate;
          animation: neon 0.08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(30, 132, 242, 0.52),
    0 0 21px rgba(30, 132, 242, 0.92),
    0 0 34px rgba(30, 132, 242, 0.78),
    0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(202, 228, 225, 0.42),
    0 0 12px rgba(30, 132, 242, 0.58),
    0 0 22px rgba(30, 132, 242, 0.84),
    0 0 38px rgba(30, 132, 242, 0.88),
    0 0 60px #1e84f2;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(30, 132, 242, 0.52),
    0 0 21px rgba(30, 132, 242, 0.92),
    0 0 34px rgba(30, 132, 242, 0.78),
    0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(202, 228, 225, 0.42),
    0 0 12px rgba(30, 132, 242, 0.58),
    0 0 22px rgba(30, 132, 242, 0.84),
    0 0 38px rgba(30, 132, 242, 0.88),
    0 0 60px #1e84f2;
  }
}

@font-face {
    font-family: Vibur;
    src: url(/static/fonts/Vibur-Regular.ttf);
}